<div class="container">

	<h1 class="m-t-3">About Us</h1>
	<p class="lead">CRT^ is a firm that combines research &amp; capacity building and partners with clients to implement appropriate solutions to civic and environmental challenges.</p>

	<div class="row m-t-2 m-b-2">
		<div class="col-sm-10 offset-sm-1">
		<div class="card card-outline-success text-xs-center">
			  <div class="card-block">
			    <blockquote class="card-blockquote">
			      <p>Your invaluable association in the field of 'Waluj Solid Waste Management Project', with continuous efforts in motivating the residents has helped the Corporation in achieving the goals towards Clean &amp; Green Waluj.</p>
			      <footer class="text-success">- Sunil Kendrekar <cite title="Source Title" class="text-muted">I.A.S., Chief Administrator (New Towns), CIDCO</cite></footer>
			    </blockquote>
			  </div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<h2>Our Beliefs</h2>
			<p>Our work at CRT^ is driven by a confidence that active citizenship and entrepreneurship can create tremendous change. It is also driven by a belief that there is a scope for partnership everywhere, that within each person and organization is the capacity and willingness to participate in nation-building.</p>
		</div>
		<div class="col-sm-6">
			<h2>Our Values</h2>
			<p>CRT^ holds itself to the highest standards of integrity and professionalism while proactively partnering with diverse clients to build creative and knowledge-driven solutions.</p>
		</div>
	</div>


	<div class="row m-t-2 m-b-2">
		<div class="col-sm-10 offset-sm-1">
			<div class="card card-outline-success text-xs-center">
			  <div class="card-block">
			    <blockquote class="card-blockquote">
			      <p>Thank you for helping us organise a training of school leaders and teachers across all 77 AMC schools, with the Mayor in attendance. The CRT^ team took full responsibility and ownership of the program down to the last detail and even helped in facilitating the DFC workshop for teachers. Your sustained efforts have enabled us to increase the reach of the DFC Movement. You are a young and very talented team of 'doers'.</p>
			      <footer class="text-success">- Nandini Sood <cite title="Source Title" class="text-muted">CEO, Design For Change, India</cite></footer>
			    </blockquote>
			  </div>
			</div>
		</div>
	</div>
	

	<h1>Meet the Team</h1>
	<div class="card-deck-wrapper m-t-2 m-b-3">
 	 <div class="card-deck">
    <div class="card">
      <!-- <img class="card-img-top" src="http://placehold.it/10x10" alt="Card image cap"> -->
      <%= image_tag("team_natasha.jpg", class:"profile_image") %>
      <div class="card-block">
        <h4 class="card-title">Natasha Zarine&nbsp;<small class="text-primary"><br>Partner</small></h4>
        <p class="card-text text-success">
        	B.A. Psychology, <small class="text-muted"> Mumbai University</small><br>
					L.L.B, <small class="text-muted"> Government Law College, Mumbai</small><br>
					Young India Fellow 2013, <small class="text-muted"> Ashoka University &amp; University of Pennsylvania</small>
				</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card">
      <!-- <img class="card-img-top" src="http://placehold.it/10x10" alt="Card image cap"> -->
      <%= image_tag("team_gauri.jpg", class:"profile_image") %>
      <div class="card-block">
        <h4 class="card-title">Gauri Mirashi<small class="text-primary"><br>Partner</small></h4>
        <p class="card-text text-success">
        	B.A. Environmental Studies and Politics, <small class="text-muted"> Whitman College, Washington</small><br>
					M.A Urban Policy and Governance, <small class="text-muted"> Tata Institute of Social Sciences, Mumbai</small>
				</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <!-- <div class="card">
      <div class="card-block">
        <h4 class="card-title">Sanveer Chhabda</h4>
        <p class="card-text text-success">
        	B.Comm, <span class="text-muted"> Osmania University</span><br>
					M.B.A., <span class="text-muted"> Pondicherry University</span>
				</p>
      </div>
    </div> -->
  </div>
</div>


	<div class="row m-t-2 m-b-2">
		<div class="col-sm-10 offset-sm-1">
			<div class="card card-outline-success text-xs-center">
			  <div class="card-block">
			    <blockquote class="card-blockquote">
			      <p>We are highly grateful to you for your deed of imparting essential information to our students on solid waste management, especially composting. This will certainly help us to lead a healthy life and make our homes &amp; city beautiful.</p>
			      <footer class="text-success">- Principal <cite title="Source Title" class="text-muted">Cambridge School, Aurangabad</cite></footer>
			    </blockquote>
			  </div>
			</div>
		</div>
	</div>
	
</div>