<div class="container">

	<h1 class="m-t-3">About Us</h1>
	<p class="lead">CRT^ is a firm that combines research &amp; capacity building and partners with clients to implement appropriate solutions to civic and environmental challenges.</p>

	<div class="row">
		<div class="col-sm-6">
			<h2>Our Beliefs</h2>
			<p>Our work at CRT^ is driven by a confidence that active citizenship and entrepreneurship can create tremendous change. It is also driven by a belief that there is a scope for partnership everywhere, that within each person and organization is the capacity and willingness to participate in nation-building.</p>
		</div>
		<div class="col-sm-6">
			<h2>Our Values</h2>
			<p>CRT^ holds itself to the highest standards of integrity and professionalism while proactively partnering with diverse clients to build creative and knowledge-driven solutions.</p>
		</div>
	</div>
	
</div>