<div class="container">
	<h1 class="m-t-3">Contact</h1>
	<p class="lead">Write to us or come visit our office! If you would like to be a part of our team, email us your resumé and we will contact you soon.</p>

	<h2>Location</h2>
	<address>
		B-14, MIDC Railway Station, Aurangabad - 431 001, INDIA<br>
		<strong>Phone:</strong> +91 80074 47750<br>
		<strong>Email:</strong> info(at)civicresponseteam.com<br>
		Follow us on <a href="https://www.facebook.com/Civic-Response-Team-Aurangabad-CRT-224091734464702/" target="_blank">Facebook</a> &amp; <a href="https://twitter.com/CRTAurangabad?lang=en" target="_blank">Twitter</a>
	</address>
</div>