<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Civic Response Team</h1>
    <p class="lead">CRT^ is a think tank and consultancy firm that combines research and capacity building to partner with clients to implement appropriate solutions to civic and environmental challenges.</p>
  </div>
</div>

<div class="container">
	<h1 class="m-b-2">Focus Areas</h1>
	<div class="row m-b-3">
		<div class="col-sm-6">
			<h2>Urban Habitats</h2>
			<p>CRT^ offers professional and well-researched solutions to government and corporate bodies dedicated to improving civic services and amenities in Indian cities and towns.</p>
			<%= link_to "Read More", about_path %>
		</div>
		<div class="col-sm-6">
			<h2>Training &amp; Education</h2>
			<p>CRT^'s training programs are guided by a belief that education, awareness and an exchange of ideas are critical to lasting social evolution.</p>
			<%= link_to "Read More", about_path %>
		</div>
	</div>

	<!-- <p>Sign up here</p> -->
</div>