<div class="container">
	
	<h1 class="m-t-3">Recognition</h1>
	<p class="lead m-b-3">We have been fortunate to have had support from Government officials and educational institutions.</p>
	
	<blockquote class="blockquote">
		<p class="m-b-0">Your invaluable association in the field of 'Waluj Solid Waste Management Project', with continuous efforts in motivating the residents has helped the Corporation in achieving the goals towards Clean &amp; Green Waluj.</p>
		<footer class="blockquote-footer">Sunil Kendrekar, <cite title="">I.A.S., Chief Administrator (New Towns), CIDCO</cite></footer>
	</blockquote>

	<blockquote class="blockquote blockquote-reverse">
		<p class="m-b-0">Thank you for helping us organise a training of school leaders and teachers across all 77 AMC schools, with the Mayor in attendance. The CRT^ team took full responsibility and ownership of the program down to the last detail and even helped in facilitating the DFC workshop for teachers. Your sustained efforts have enabled us to increase the reach of the DFC Movement. You are a young and very talented team of 'doers'.</p>
		<footer class="blockquote-footer">Nandini Sood, <cite title="">CEO, Design For Change, India</cite></footer>
	</blockquote>

	<blockquote class="blockquote  m-b-3">
		<p class="m-b-0">We are highly grateful to you for your deed of imparting essential information to our students on solid waste management, especially composting. This will certainly help us to lead a healthy life and make our homes &amp; city beautiful.</p>
		<footer class="blockquote-footer">Principal, <cite title="">Cambridge School, Aurangabad</cite></footer>
	</blockquote>

</div>